* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #FFFFFF;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    background-color: #3F5AB5;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 5em auto;
}

h1 {
    color: #FFFFFF;
    font-size: 10em;
    font-weight: 400;
}

p {
    margin: 0 auto;
    width: 300px;
}

a{
    color: #448AFF;
    text-decoration: none;

}

@media (max-width: 480px) {
    h1{
        font-size: 7em;
    }
}
