<div class="recent-posts">
	<h3>Recent posts</h3>
	<div class="cards">
		{% for post in site.posts limit:4 %}
			{% if post.url != page.url %}
				{% if forloop.index < 4 or found %}
					<a href="{{ post.url }}">
						<div class="col-lg-4">
							<div class="card">
								<div class="img-container"> 
										{% include blog-lazy-image.html class="img" src=post.image description=post.title %}
								</div>
								<h4>{{ post.title }}</h4>
								{{ post.excerpt | remove: '<em>' | remove: '</em>' }}
								<a href="{{ post.url }}" alt="{{ post.title }}" class="card-button">Read More</a>
							</div>
						</div>
					</a>
				{% endif %}
			{% else %}
				{% assign found = true %}
			{% endif %}
		{% endfor %}
	</div>
</div>
