<footer class="container-fluid text-center blog-footer">
	<div class="row center-content blog-nav">
		<a href="/" class="blog-nav-item">
			Home
		</a>|
		<a href="/blog/" class="blog-nav-item">
			Blog
		</a>|
		<a href="/2017/05/10/about-me.html" class="blog-nav-item">
			About Me
		</a>|
		<a href="/blog/archive/" class="blog-nav-item">
			Archive
		</a>|
		<a href="/blog/tags/" class="blog-nav-item">
			Tags
		</a>
	</div>
	<div class="row center-content">
		<div class="col-xs-12">
			{% include social-contacts.html %}
		</div>
	</div>
</footer>
