<div class="recent-posts">
	<h3>Recent posts</h3>
	<div class="cards">
		{% for post in site.posts limit:4 %}
			{% if post.url != page.url %}
				{% if forloop.index < 4 or found %}
					<a href="{{ post.url }}">
						<div class="card col-lg-4">
							<div class='img' style='background:url("{{ post.image }}") no-repeat 50% 50%; background-size: cover'></div>
							<h4>{{ post.title }}</h4>
							<p>{{ post.excerpt | remove: '<em>' | remove: '</em>' }}</p>
							<a href="{{ post.url }}" class="card-button">Read More</a>
						</div>
					</a>
				{% endif %}
			{% else %}
				{% assign found = true %}
			{% endif %}
		{% endfor %}
	</div>
</div>
