<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        jax: ["input/TeX","output/SVG"],
        messageStyle: "none",
        tex2jax: {
            inlineMath: [['$','$']],
            processEscapes: true
        },
        "HTML-CSS": {
            linebreaks: { automatic: true }
        },
        SVG: {
            linebreaks: { automatic: true }
        }
    });
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor.min.js?rev=5d19f0b6a31dddf81867a1092b1f246c"></script>
<script type="text/javascript" src="/assets/js/blog.min.js?rev=dcb6f0c465baf7a19054c0e501095e97"></script>
