<div class="blog-header row">
	<a href="/blog/">
		<img alt="Sombrero Galaxy" class="img-responsive blog-logo" src="/assets/images/blog-logo.jpg">
	</a>
	<h1 class="blog-title"><a href="/blog/">CHICIO CODING</a></h1>
	<h2 class="lead blog-description">Dirty clean code. Creative Stuff. Stuff.</h2>
</div>
<div id="adblock-alert" class="alert alert-warning alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	<strong>Please disable your ad blocker to support me. Thank you!!!</strong>
	<img class="emoji" title=":sunglasses:" alt=":sunglasses:" src="/assets/images/emoji/unicode/1f642.png" height="20" width="20" align="absmiddle">
</div>
