<div class="blog-masthead">
	<div class="container">
		<nav class="d-flex align-items-center blog-nav">
			{% for nav in site.nav %}
			<a class="blog-nav-item {% if nav.name == 'Blog' and page.title != 'About Me' %}active{% endif %} {% if nav.name == 'About Me' and page.title == 'About Me' %}active{% endif %}"
				 onclick="track('{{ site.data.tracking.action[nav.tracking] }}', '{{  include.track-category }}', '{{ site.data.tracking.label.header }}')"		
			   href="{{ nav.url }}">{{ nav.name }}</a>
			{% endfor %}
		</nav>
	</div>
</div>
