<footer class="container-fluid text-center blog-footer">
	<div class="row center-content blog-nav-footer">
		<a href="/" class="blog-nav-item-footer">
			Home
		</a>
		|
		<a href="/blog/" class="blog-nav-item-footer">
			Blog
		</a>
		|
		<a href="/2017/05/10/about-me.html" class="blog-nav-item-footer">
			About Me
		</a>
		|
		<a href="/blog/archive/" class="blog-nav-item-footer">
			Archive
		</a>
		|
		<a href="/blog/tags/" class="blog-nav-item-footer">
			Tags
		</a>
		<div class="row">
			{% include social-contacts.html icon-class="blog-footer-icon" break=false %}
			<div class="row blog-copyright">
				<h5>Made with <span id="heart" class="heart">💖</span> by {{ site.author }} 'Chicio'</h5>
			</div>
		</div>
	</div>
</footer>
