<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#9fa8da",
                    "text": "#ffffff"
                },
                "button": {
                    "background": "#448aff",
                    "text": "#ffffff"
                }
            },
            "theme": "classic",
            "content": {
                "dismiss": "Ok",
                "href": "{{site.url}}/cookie-policy.html",
                "message": "This website uses cookies to ensure you get the best experience."
            }
        })});
</script>