<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        jax: ["input/TeX","output/SVG"],
        messageStyle: "none",
        tex2jax: {
            inlineMath: [['$','$']],
            processEscapes: true
        },
        "HTML-CSS": {
            linebreaks: { automatic: true }
        },
        SVG: {
            linebreaks: { automatic: true }
        }
    });
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script type="text/javascript" src="/assets/js/index.blog.min.js?rev=e5538a80464131725a200bc56134a947"></script>
<script type="text/javascript">
    ChicioCodingBlog.init('{{ include.track-category }}')
</script>
{%include service-worker.html %}