<footer class="container-fluid">
	<div class="d-flex justify-content-center">
		<a href="/" class="nav-item-footer">
			Home
		</a>
		|
		<a href="/blog/" class="nav-item-footer">
			Blog
		</a>
		|
		<a href="/2017/05/10/about-me.html" class="nav-item-footer">
			About Me
		</a>
		|
		<a href="/blog/archive/" class="nav-item-footer">
			Archive
		</a>
		|
		<a href="/blog/tags/" class="nav-item-footer">
			Tags
		</a>
	</div>
	<div class="d-flex justify-content-center">
		{% include social-contacts.html icon-class="blog-footer-icon" break=false %}
	</div>
	<div class="d-flex justify-content-center copyright">
		<h5>Made with <span id="heart" class="heart">💖</span> by {{ site.author }} 'Chicio'</h5>
	</div>
</footer>
