<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="p:domain_verify" content="33d2d5dad0e1496d9f7974925340ea50"/>
	<meta name="yandex-verification" content="d890c5eeec6e82c6" />
	<meta name="theme-color" content="#3F51B5"/>
	<link rel="author" href="/humans.txt"/>
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	{% include icons.html %}
	{% include analytics.html %}
	<style type="text/css">{% include {{ include.critical-css }} %}</style>
	{% seo %}
	{% if include.content-type %}
	<meta property="og:type" content="{{ include.content-type }}"/>
	{% endif %}
</head>
