<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="p:domain_verify" content="33d2d5dad0e1496d9f7974925340ea50"/>
	<meta name="yandex-verification" content="d890c5eeec6e82c6" />
	<meta name="theme-color" content="#3F51B5"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="author" href="/humans.txt"/>
	<link rel="manifest" href="/manifest.json">
	{% seo %}
	{% if include.content-type %}
	<meta property="og:type" content="{{ include.content-type }}"/>
	{% endif %}
	<link rel="preload" href="/assets/fonts/opensans/OpenSans-Regular.woff2" as="font" crossorigin="anonymous">
	{% if include.prefetch-blog == true %}
	<link rel="prefetch" href="/blog/">
	{% endif %}
	<link rel="preconnect" href="https://www.google-analytics.com">
	<link rel="preconnect" href="https://cdn.jsdelivr.net">
	{% include icons.html %}
	{% include analytics.html %}
	<style type="text/css">
	body{visibility: hidden;}
	{% include opensans.css %}
	{% include icomoon.css %}
	{% include {{ include.critical-css }} %}
	{% include cookieconsent-style.css %}
	</style>
</head>
