<a href="https://github.com/chicio" target="_blank">
	<i class="{{ include.icon-class }} fab fa-github" aria-hidden="true"></i>
</a>
<a href="https://www.linkedin.com/in/fabrizio-duroni-947a9b35/" target="_blank">
	<i class="{{ include.icon-class }} fab fa-linkedin" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/chicio86" target="_blank">
	<i class="{{ include.icon-class }} fab fa-twitter" aria-hidden="true"></i>
</a>
{% if include.break %}
<br class="break"/>
{% endif %}
<a href="https://www.facebook.com/fabrizio.duroni" target="_blank">
	<i class="{{ include.icon-class }} fab fa-facebook" aria-hidden="true"></i>
</a>
<a href="https://medium.com/@chicio" target="_blank">
	<i class="{{ include.icon-class }} fab fa-medium" aria-hidden="true"></i>
</a>
<a href="mailto:fabrizio.duroni@gmail.com">
	<i class="{{ include.icon-class }} fas fa-envelope" aria-hidden="true"></i>
</a>
{% if include.break %}
<br class="break"/>
{% endif %}
<a href="tel:+393285926828">
	<i id="phone-number" class="{{ include.icon-class }} fas fa-mobile-alt" aria-hidden="true"></i>
</a>
