<a href="{{ site.data.contacts.links.github }}" target="_blank" rel="noopener" aria-label="Github profile">
	<span class="{{ include.icon-class }} icon-github"></span>
</a>
<a href="{{ site.data.contacts.links.linkedin }}" target="_blank" rel="noopener" aria-label="Linkedin profile">
	<span class="{{ include.icon-class }} icon-linkedin-square"></span>
</a>
<a href="mailto:{{ site.data.contacts.email }}" aria-label="Email">
	<span class="{{ include.icon-class }} icon-envelope"></span>
</a>
<a href="{{ site.data.contacts.links.medium }}" target="_blank" rel="noopener" aria-label="Medium profile">
	<span class="{{ include.icon-class }} icon-medium"></span>
</a>
<a href="{{ site.data.contacts.links.devto }}" target="_blank" rel="noopener" aria-label="dev.to profile">
	<span class="{{ include.icon-class }} icon-dev-dot-to"></span>
</a>
<a href="{{ site.data.contacts.links.twitter }}" target="_blank" rel="noopener" aria-label="Twitter profile">
	<span class="{{ include.icon-class }} icon-twitter"></span>
</a>
<a href="{{ site.data.contacts.links.facebook }}" target="_blank" rel="noopener" aria-label="Facebook profile">
	<span class="{{ include.icon-class }} icon-facebook-square"></span>
</a>
<a href="{{ site.data.contacts.links.instagram }}" target="_blank" rel="noopener" aria-label="Instagram profile">
	<span class="{{ include.icon-class }} icon-instagram"></span>
</a>
<a href="tel:{{ site.data.contacts.phone }}" aria-label="Phone number">
	<span class="{{ include.icon-class }} icon-mobile-phone phone-number"></span>
</a>