<a href="https://github.com/chicio" target="_blank">
	<i class="profile-icon fa fa-github" aria-hidden="true"></i>
</a>
<a href="https://www.linkedin.com/in/fabrizio-duroni-947a9b35/" target="_blank">
	<i class="profile-icon fa fa-linkedin" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/chicio86" target="_blank">
	<i class="profile-icon fa fa-twitter" aria-hidden="true"></i>
</a><br class="break"/>
<a href="https://www.facebook.com/fabrizio.duroni" target="_blank">
	<i class="profile-icon fa fa-facebook" aria-hidden="true"></i>
</a>
<a href="mailto:fabrizio.duroni@gmail.com">
	<i class="profile-icon fa fa-envelope" aria-hidden="true"></i>
</a>
<a href="tel:+393285926828">
	<i id="phone-number" class="profile-icon fa fa-mobile" aria-hidden="true"></i>
</a>