.blog-masthead {
  @include theme($themes, 'background-color', $primary-color);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 300;

  .blog-nav {
    height: 55px;
  
    .blog-nav-item {
      position: relative;
      display: inline-block;
      font-weight: 500;
      @include theme($themes, 'color', $primary-color-light);
      margin-right: 15px;
      height: 55px;
      line-height: 70px;

      &:hover, &:focus {
        @include theme($themes, 'color', $primary-color-text);
        text-decoration: none;
      }

      &.active {
        @include theme($themes, 'color', $primary-color-text);
      }
    
      &.active:after {
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -5px;
        content: " ";
        border-right: 5px solid transparent;
        @include theme($themes, 'border-bottom', $general-background, true, '5px solid');
        border-left: 5px solid transparent;
      }
    
      @include media-breakpoint-down(sm) {
          padding: 10px;
          margin-right: 0;
          line-height: 55px;
      }
    }
  }  
}
