.blog-tags {
  margin-top: 25px;
  margin-bottom: 25px;

  a {
    display: inline-block;
    margin: 4px;
    color: #ffffff;
    background-color: $primary-color;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    padding: .5px 5px;
  }
}
