.blog-post {
  margin-bottom: 50px;

  ul {
    li{
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
  }

  .blog-post-title {
    @include theme($themes, 'color', $accent-color);
    margin-bottom: 5px;
    font-size: 24px;
    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  
    a {
      @include theme($themes, 'color', $accent-color);
    }
  
    a:hover {
      @include theme($themes, 'color', $accent-color);
      text-decoration: none;
    }
  }

  a {
    @include theme($themes, 'color', $accent-color);
  }

  img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
  }

  .emoji {
    margin: auto;
    display: inline;
  }

  blockquote {
    @include theme($themes, 'color', $secondary-text-color);
    @include theme($themes, 'border-left', $secondary-text-color, true, '5px solid ');
    margin: 0 0 20px;
    padding: 10px 20px;

    p {
      margin: 0;
    }
  }

  #disqus_thread {
    margin-bottom: 30px;
  }

  .gist {
    max-width:100%;
    overflow:auto;
  }
  
  .gist .blob-wrapper.data {
    max-height:500px;
    overflow:auto;
    @include media-breakpoint-up(md) {
      max-height:600px;
      overflow:auto;
    }  
  }
}


