.blog-archive {
  margin-bottom: 15px;
  margin-top: 40px;

  .archive-list-post {
    a {
      color: $accent-color;
    }
  
    a:hover {
      color: $accent-color;
      text-decoration: none;
    }

    .archive-post {
      margin-top: 20px;

      .archive-list-post-date {
        color: $secondary-text-color;
        padding: 0;
      }

      .archive-list-post-title {
        padding: 0;
        line-height: 1.2;
      }
    }
  }
}