html {
  overscroll-behavior-y: contain;
}

.pullable-content {
  margin-top: 10px
}

.pull-to-refresh {
  @include theme($themes, 'background-color', $general-background-light);
  @include theme($themes, 'box-shadow', $general-background, true, 'inset 0px -2px 6px 1px');
  height: 100px; 
  margin-top: 55px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  &.visible-pull {
    visibility: visible;
  }
  
  &.hidden-pull {
    visibility: hidden;
  }
  
  .pull-to-refresh-status {
    font-weight: bold;
    font-size: 14px;
  }

  .pull-to-refresh-loader {
    @include theme($themes, 'border', $primary-color-dark, true, '3px solid');
    @include theme($themes, 'border-top', $primary-color-light, true, '3px solid');
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    opacity: 0;
  
    &.animate {
      animation: spin 1.25s linear infinite;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}

.start-pull {
  transform: translateY(-100px); 
}

.end-pull {
  transform: translateY(-100px) !important;
  transition: 0.4s ease-in-out;
}
