.blog-tags-list {
  padding-top: 30px;
  padding-bottom: 30px;

  .blog-tag-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }  

  .blog-tag-post {
    a {
      color: $accent-color;
      display: block;
      min-height: 46px;
    }
  
    a:hover {
      text-decoration: none;
    }
  }
}