.recent-posts {
  margin-bottom: 35px;

  .row{
    margin-top:20px;
  }

  a {
    @include theme($themes, 'color', $primary-color-text);
    &:hover{
      text-decoration:none;
    }  
  }

  .cards {
    display: flex;
    width: 100%;
    @include media-breakpoint-down(sm) {
      display: block;
    }

    h3 {
      @include theme($themes, 'color', $accent-color);
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      .col-lg-4 {
        margin-top: 20px;
      }
    }

    .card {
      @include theme($themes, 'background-color', $general-background-light);
      @include theme($themes, 'box-shadow', $box-shadow-light, true, '0 3px 10px 0');
      padding: 0 0 80px 0;
      width: 100%;
      height: 100%;
      border-radius:4px;
      border: none;
      position: relative;
      transition: all .2s;
      @include media-breakpoint-down(sm) {
        margin: 10px 0 0 0;
      }

      .card-button {
        @include theme($themes, 'background-color', $accent-color);
        @include theme($themes, 'color', $primary-color-text);
        min-height: 20px;
        border-radius: 4px;
        text-align: center;
        margin: auto 0 20px 0;
        padding: 0 10px 0 10px;
        display: block;
        position: absolute;
        bottom: 0;
        right:5%;
        width: 90%;
      }

      @include media-breakpoint-up(lg) {
        &:hover {
          transform: scale(1.025);
        }
      }
  
      .img-container {
        overflow: hidden;
        height: 200px;

        .img {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      h4 {
        @include theme($themes, 'color', $accent-color);
        margin:20px;
        font-weight: 500;
        line-height: 1.5;
      }    

      p {
        @include theme($themes, 'color', $primary-text-color);
        margin:20px;
        text-overflow: ellipsis;
        font-style: normal !important;
        font-size: 14px;
        @include media-breakpoint-down(md)  {
            display: none;
        }        
      }    
    }
  }
}