
html {
  max-width: 100%;
  overflow-x: hidden;
  visibility: visible;
  opacity: 1;

  body {
    font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.8;
    max-width: 100%;
    overflow-x: hidden;
  }
}