@import "../node_modules/bootstrap/scss/bootstrap";
@import "./font-awesome/fontawesome.scss";
@import "./font-awesome/brands.scss";
@import "./font-awesome/solid.scss";
@import "./theme.scss";
@import "./loader.scss";
@import "./footer.scss";

body {
  font: 20px 'Open Sans', sans-serif;
  line-height: 1.8;
}

html, body {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

.lazy {
  background-color: $divider-color;
}

.break {
  display: inline
}

#loading-screen {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 400;
  display: block;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

@include media-breakpoint-up(xs) {
  .break {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .phone-number {
    display: none;
  }
}
