@import "../node_modules/bootstrap/scss/bootstrap";
@import "./font-awesome/fontawesome.scss";
@import "./font-awesome/brands.scss";
@import "./font-awesome/solid.scss";
@import "./theme.scss";
@import "./loader.scss";
@import "./footer.scss";

html {
  max-width: 100%;
  overflow-x: hidden;
  
  body {
    max-width: 100%;
    overflow-x: hidden;

    &.wf-active {
      font: 20px 'Open Sans', sans-serif;
      line-height: 1.8;
    }
  }
}

p {
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

.lazy {
  background-color: $divider-color;
}

.break {
  display: inline
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

@include media-breakpoint-up(xs) {
  .break {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .phone-number {
    display: none;
  }
}
