@import "../node_modules/bootstrap/scss/bootstrap";
@import "./theme.scss";
@import "./footer.scss";

html {
  max-width: 100%;
  overflow-x: hidden;

  body {
    @include theme('background-color', $general-background);
    @include theme('color', $primary-text-color);
    font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.8;
    max-width: 100%;
    overflow-x: hidden;
  }
}

p {
  font-size: 16px;
}

canvas {
  @include theme('background-color', $primary-color);
  width: 100%;
  height: 100%;
}

@keyframes show-lazy-element-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

.lazy {
  @include theme('background-color', $divider-color)
}

.lazy-show {
  animation: show-lazy-element-animation 0.8s;
}

.break {
  display: inline
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.btn-default {
  @include theme('color', $primary-color-text);
  @include theme('background-color', $accent-color);
  font-size: 14px;
}

@include media-breakpoint-up(xs) {
  .break {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .phone-number {
    display: none !important;
  }
}
