@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?6l1zyy');
  src:  url('../fonts/icomoon/icomoon.eot?6l1zyy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?6l1zyy') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?6l1zyy') format('woff'),
    url('../fonts/icomoon/icomoon.svg?6l1zyy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-medium:before {
  content: "\f23a";
}
