.loader {
  border: 5px solid $general-background;
  border-top: 5px solid $accent-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s ease-in-out infinite;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;

  &.hide {
    animation: hide 0.3s linear;
    animation-fill-mode: forwards;
  }
}

@keyframes hide {
  from {opacity: 1; z-index: 200;}
  to {opacity: 0; z-index: -1;}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}