.project {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  .project-image-container {
    margin-bottom: 20px;
  }

  .project-image {
      @include theme($themes, 'border', $divider-color, true, '1px solid');
      @include theme($themes, 'box-shadow', $box-shadow-light, true, '1px 1px 6px');

      margin: auto;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.375);
      border-radius: 3px;
      width: 100%;
  }

  .project-info {
    @include theme($themes, 'color', $primary-text-color);
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;

    .project-features {
      font-size: 16px;
      margin-top: 10px;
    }

    h1 {
      font-size: 26px;
      font-weight: bold;
    }

    .project-info-link {
      @include theme($themes, 'color', $accent-color);
    }
  }
}

@include media-breakpoint-up(lg) {
  .project {
    max-width: 1100px;
  }
}

@include media-breakpoint-up(sm) {
  .project {
    .project-info {
      padding-left: 15px;
      padding-right: 15px;

      h1 {
        margin: 0;
        font-size: 30px;
      }

      p {
        margin-top: 10px;
      }
    }
  }
}
