@import "./syntax.scss";
@import "./common.scss";
@import "./blog-posts-list.scss";
@import "./blog-post-authors.scss";
@import "./blog-post-meta.scss";
@import "./youtube.scss";
@import "./blog-masthead.scss";
@import "./blog-archive.scss";
@import "./blog-header.scss";
@import "./blog-post.scss";

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-body {
  height: 100%;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  h3 {
    width: 100%;
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.blog-posts {
  margin-top: 100px;
}

.blog-tags-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-tags {
  margin-top: 25px;
  margin-bottom: 25px;

  ul {
    padding: 0;

    li:before {
      content: ""
    }

    li {
      margin: 0;
      font-weight: 300;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;

      a {
        display: inline-block;
        margin: 4px;
        color: #ffffff;
        background-color: $primary-color;
        text-decoration: none;
        border-radius: 3px;

        span {
          float: left;
          padding: .5px 5px;
          border-radius: 3px;
          font-size: 14px;
        }

        .count {
          background-color: $primary-color-dark;
          border-radius: 3px;
        }
      }
    }
  }
}

.blog-tag-post {
  a {
    color: $accent-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.blog-tag-title {
  font-size: 20px;
  font-weight: bold;
}

.recent-posts a:hover{
  text-decoration:none;
}
.recent-posts{
  margin-bottom: 35px;
}

.recent-posts .row{
  margin-top:20px;
}

.recent-posts a{
  color: black;
}

.recent-posts .cards {
  display: flex;
  width: 100%;
}

.recent-posts .card {
  background-color: #FFFFFF;
  padding: 0 0 80px 0;
  width: 100%;
  height: 100%;
  border-radius:4px;
  border: none;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.15);
  position: relative;
  transition: all .2s;
}

.recent-posts .card:hover {
  transform: scale(1.025);
}

.recent-posts .card .img-container {
  overflow: hidden;
  height: 200px;
}

.recent-posts .card .img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.recent-posts .card h4 {
  margin:20px;
  color: $accent-color;
  font-weight: 500;
  line-height: 1.5;
}

.recent-posts h3 {
  color: $accent-color;
  font-weight: 500;
}

.recent-posts .card p {
  margin:20px;
  opacity: 0.65;
  text-overflow: ellipsis;
  color: black;
  font-style: normal !important;
  font-size: 14px;
}

.recent-posts .card-button {
  min-height: 20px;
  background-color: $accent-color;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin: auto 0 20px 0;
  padding: 5px 10px 0 10px;
  display: block;
  position: absolute;
  bottom: 0;
  right:5%;
  width: 90%;
}

@include media-breakpoint-down(sm) {

  .recent-posts .col-lg-4 {
    margin-top: 20px;
  }

  .recent-posts .cards {
    display: block;
  }

  .recent-posts .card{
    margin: 10px 0 0 0;
  }

  .recent-posts h3{
    padding-left: 0;
  }
}

@include media-breakpoint-down(md)  {
  .recent-posts .card p{
    display: none;
  }
}

.blog-pages-button {
  margin: 20px 5px;
  width: 100px;
  background-color: $accent-color;
  border-radius: 10px;
}

code.highlighter-rouge {
  background-color: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

div.highlighter-rouge {
  width: inherit;
  margin-bottom: 20px;

  div {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
  }

  .highlight {
    pre {
      white-space: pre;
      overflow: auto;
      padding: 10px;
      margin-bottom: 0;
    }

    code {
      font: 14px 'Open Sans', sans-serif;
      display: block;
      white-space: pre;
      overflow-x: scroll;
      word-wrap: normal;
    }
  }
}

/* bootstrap safari fix grid */
.row:before, .row:after {
  display: none !important;
}
