@import "./common.scss";

* {
  line-height: 1.2;
  margin: 0;
}

html {
  @include theme('color', $primary-color-text);
  display: table;
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
  width: 100%;
}

body {
  @include theme('background-color', $primary-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  @include theme('color', $primary-color-text);
  font-size: 10em;
  font-weight: 400;
}

p {
  @include theme('color', $primary-color-text);
}

a{
  @include theme('color', $accent-color);
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  h1{
      font-size: 7em;
  }
}
