@import "./syntax.scss";
@import "./common.scss";

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-body {
  height: 100%;
}

.blog-masthead {
  background-color: $primary-color;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  height: $masthead-height;
  z-index: 300;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #cdddeb;
  margin-right: 15px;
  height: 55px;
  line-height: 70px;
}

.blog-nav-item:hover, .blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

@include media-breakpoint-down(sm) {
  .blog-nav-item {
    padding: 10px;
    margin-right: 0;
    line-height: 55px;
  }
}

.blog-nav {
  height: 55px;

  & .active {
    color: #fff;
  }

  & .active:after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
  }
}

.blog-header {
  margin-top: 50px;
  margin-bottom: 20px;

  .blog-logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.575);
  }

  .lead.blog-description {
    font-size: 12px;
    color: $secondary-text-color;
    margin-top: 2px;
  }

  & .blog-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: bold;
    color: $primary-text-color;
    display: block;

    a {
      color: $primary-text-color;
    }

    a:hover {
      text-decoration: none;
      color: $primary-text-color;
    }
  }
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  h3 {
    width: 100%;
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.blog-posts {
  margin-top: 100px;
}

.blog-post {
  margin-bottom: 50px;

  img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
  }

  .emoji {
    margin: auto;
    display: inline;
  }

  blockquote {
    color: #777;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
    padding: 10px 20px;

    p {
      margin: 0;
    }
  }

  ul {
    font-size: 16px;
  }
}

.blog-tags-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-tags {
  margin-top: 25px;
  margin-bottom: 25px;

  ul {
    padding: 0;

    li:before {
      content: ""
    }

    li {
      margin: 0;
      font-weight: 300;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;

      a {
        display: inline-block;
        margin: 4px;
        color: #ffffff;
        background-color: $primary-color;
        text-decoration: none;
        border-radius: 3px;

        span {
          float: left;
          padding: .5px 5px;
          border-radius: 3px;
          font-size: 14px;
        }

        .count {
          background-color: $primary-color-dark;
          border-radius: 3px;
        }
      }
    }
  }
}

.blog-tag-post {
  a {
    color: $accent-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.blog-tag-title {
  font-size: 20px;
  font-weight: bold;
}

.blog-archive {
  margin-bottom: 15px;
  margin-top: 40px;

  .archive-list-post {
    .archive-post {
      margin-top: 20px;

      .archive-list-post-date {
        color: $secondary-text-color;
        padding: 0;
      }

      .archive-list-post-title {
        padding: 0;
        line-height: 1.2;
      }
    }
  }
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 24px;
  color: $accent-color;

  a {
    color: $accent-color;
  }

  a:hover {
    text-decoration: none;
    color: $accent-color;
  }
}

.blog-post-meta {
  margin-bottom: 15px;
  margin-top: 5px;
  color: $secondary-text-color;
}

.blog-post-authors {
  margin-top: 5px;
  width: 100%;

  .blog-post-author {
    margin-top: 5px;

    img {
      height: 30px;
      width: 30px;
      margin: 0 10px 0 0;
    }

    span {
      font-size: 16px;
    }
  }
}

.archive-list-post {
  a {
    color: $accent-color;
  }

  a:hover {
    color: $accent-color;
    text-decoration: none;
  }
}

#disqus_thread {
  margin-bottom: 30px;
}


.gist {
  max-width:100%;
  overflow:auto;
}

.gist .blob-wrapper.data {
  max-height:500px;
  overflow:auto;
}

@include media-breakpoint-up(md) {
  .blog-header {

    .blog-logo {
      width: 80px;
      height: 80px;
    }

    .lead.blog-description {
      font-size: 22px;
    }

    & .blog-title {
      font-size: 40px;
    }
  }

  .blog-post-title {
    font-size: 36px;
  }

  .gist .blob-wrapper.data {
    max-height:600px;
    overflow:auto;
  }
}

.recent-posts a:hover{
  text-decoration:none;
}
.recent-posts{
  margin-bottom: 35px;
}

.recent-posts .row{
  margin-top:20px;
}

.recent-posts a{
  color: black;
}

.recent-posts .cards {
  display: flex;
  width: 100%;
}

.recent-posts .card {
  background-color: #FFFFFF;
  padding: 0 0 80px 0;
  width: 100%;
  height: 100%;
  border-radius:4px;
  border: none;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.15);
  position: relative;
  transition: all .2s;
}

.recent-posts .card:hover {
  transform: scale(1.025);
}

.recent-posts .card .img-container {
  overflow: hidden;
  height: 200px;
}

.recent-posts .card .img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.recent-posts .card h4 {
  margin:20px;
  color: $accent-color;
  font-weight: 500;
  line-height: 1.5;
}

.recent-posts h3 {
  color: $accent-color;
  font-weight: 500;
}

.recent-posts .card p {
  margin:20px;
  opacity: 0.65;
  text-overflow: ellipsis;
  color: black;
  font-style: normal !important;
  font-size: 14px;
}

.recent-posts .card-button {
  min-height: 20px;
  background-color: $accent-color;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin: auto 0 20px 0;
  padding: 5px 10px 0 10px;
  display: block;
  position: absolute;
  bottom: 0;
  right:5%;
  width: 90%;
}

@include media-breakpoint-down(sm) {

  .recent-posts .col-lg-4 {
    margin-top: 20px;
  }

  .recent-posts .cards {
    display: block;
  }

  .recent-posts .card{
    margin: 10px 0 0 0;
  }

  .recent-posts h3{
    padding-left: 0;
  }
}

@include media-breakpoint-down(md)  {
  .recent-posts .card p{
    display: none;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-arrow {
  margin: 20px 5px;
  width: 100px;
  background-color: $accent-color;
  border-radius: 10px;
}

code.highlighter-rouge {
  background-color: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
}

div.highlighter-rouge {
  width: inherit;
  margin-bottom: 20px;

  div {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
  }

  .highlight {
    pre {
      white-space: pre;
      overflow: auto;
      padding: 10px;
      margin-bottom: 0;
    }

    code {
      font: 14px 'Open Sans', sans-serif;
      display: block;
      white-space: pre;
      overflow-x: scroll;
      word-wrap: normal;
    }
  }
}

.blog-posts-list {
  margin-top: 40px;
  margin-bottom: 40px;

  .blog-posts-post {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    transition: all .2s;
    &:hover {
      transform: scale(1.025);
    }

    .blog-posts-post-link {
      color: $primary-text-color;
      text-decoration: none;

      .blog-posts-post-title {
        font-size: 26px;
        color: $accent-color;
        @include media-breakpoint-down(sm) {
          font-size: 22px;
        }
      }
    
      .blog-posts-post-img-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: "center";

        .blog-posts-post-img {
          width: 110%;
          height: auto;
        }
      }

      .blog-posts-post-description {
        font-style: italic;
        display: block;
        margin-top: 5px;
        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }
      }
    }
  }
}

/* bootstrap safari fix grid */
.row:before, .row:after {
  display: none !important;
}
