$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #0F67FF;
$primary-text-color: #151515;
$secondary-text-color: #575757;
$divider-color: #BDBDBD;
$general-background: #FAFAFA;
$masthead-height: 55px;
$font-size-base: 14px;