$primary-color-dark: "primary-color-dark"; 
$primary-color: "primary-color"; 
$primary-color-light: "primary-color-light"; 
$primary-color-text: "primary-color-text"; 
$accent-color: "accent-color"; 
$primary-text-color: "primary-text-color"; 
$secondary-text-color: "secondary-text-color";
$divider-color: "divider-color";
$general-background: "general-background";
$general-background-light: "general-background-light";
$box-shadow-light: "box-shadow-light";
$box-shadow-medium: "box-shadow-medium";
$syntax-inline: "syntax-inline";
$syntax-inline-background: "syntax-inline-background";
$syntax-background: "syntax-background";

$themes: (
  light: (
    $primary-color-dark: #303F9F,
    $primary-color: #3F51B5,
    $primary-color-light: #C5CAE9,
    $primary-color-text: #FFFFFF,
    $accent-color: #0F67FF,
    $primary-text-color: #151515,
    $secondary-text-color: #575757,
    $divider-color: #BDBDBD,
    $general-background: #FAFAFA,
    $general-background-light: #FFFFFF,
    $box-shadow-light: rgba(0, 0, 0, 0.2),
    $box-shadow-medium: rgba(0, 0, 0, 0.375),
    $syntax-inline: #9C1154,
    $syntax-inline-background: #f9f2f4,
    $syntax-background: #fbfbfb
  ),
  dark: (
    $primary-color-dark: #303F9F,
    $primary-color: #3F51B5,
    $primary-color-light: #C5CAE9,
    $primary-color-text: #FFFFFF,
    $accent-color: #4fA7ff,
    $primary-text-color: #d7d7d8,
    $secondary-text-color: #c1c1c1,
    $divider-color: #575757,
    $general-background: #181918,
    $general-background-light: #363636,
    $box-shadow-light: rgba(0, 0, 0, 0.2),
    $box-shadow-medium: rgba(0, 0, 0, 0.375),
    $syntax-inline: #EC61A4,
    $syntax-inline-background: #363636,
    $syntax-background: #fbfbfb
  ),
);

@mixin theme($themes, $property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, 'light');
  $dark: map-get($themes, 'dark');
  
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + map-get($light, $color));    
  } @else { 
    #{$property}: unquote(map-get($light, $color) + $additionalProperties);
  }

  @media (prefers-color-scheme: dark) {
    @if $additionalPropertiesPositionIsFront {
      #{$property}: unquote($additionalProperties + map-get($dark, $color));    
    } @else { 
      #{$property}: unquote(map-get($dark, $color) + $additionalProperties);
    }
  }
}
