.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $divider-color
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
