.blog-post {
  a {
    @include theme('color', $accent-color);
  }


  blockquote {
    @include theme('color', $secondary-text-color);
    @include theme('border-left', $secondary-text-color, true, '5px solid');
    margin: 0 0 20px;
    padding: 10px 20px;

    p {
      margin: 0;
    }
  }
}


