.blog-tags {
  margin-top: 25px;
  margin-bottom: 25px;

  a {
    display: inline-block;
    height: 46px;

    span {
      @include theme('background-color', $primary-color);
      margin: 4px;
      color: #ffffff;
      text-decoration: none;
      border-radius: 3px;
      font-size: 14px;
      padding: .5px 5px;

      &.big {
        font-size: 22px;
        margin: 20px;
        display: block;
      }
    }
  }
}
