/**** Post content markdown ***/

/**** Generic components from plugins ***/

.embedVideo-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}


.embedVideo-container iframe, .embedVideo-container object, .embedVideo-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#disqus_thread {
    margin-bottom: 30px;
}

.gist {
    max-width:100%;
    overflow:auto;
}

.gist .blob-wrapper.data {
    max-height:600px;
    overflow:auto;
}

.katex-display > .katex {
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    text-align: initial;
}

.emoji {
    margin: auto;
    display: inline;
}


