.profile-container {
  @include theme('background-color', $general-background);

  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-tabs {
    border:1px solid transparent;
    margin-bottom: 35px;
  }

  .nav-tabs > li {
    width: 50%;
  }

  .nav-tabs > li > .nav-link {
    @include theme('background-color', $general-background-light);
    @include theme('border-bottom', $divider-color, true, '1px solid');
    @include theme('border-left', $divider-color, true, '1px solid');
    @include theme('border-right', $divider-color, true, '1px solid');
    @include theme('color', $accent-color);
    border-radius: 0;
    font-weight: bold;
  }

  .nav-tabs > li > .nav-link:hover {
    border-top: 1px solid transparent;
  }

  .nav-tabs > li.active > .nav-link {
    @include theme('background-color', $general-background);
    @include theme('color', $accent-color);
    @include theme('border-right', $divider-color, true, '1px solid');
    border-radius: 0;
    border: 1px solid transparent;
    font-weight: bold;
  }

  a.accordion-toggle {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
  }

  div.panel-heading {
    padding: 0;
  }

  .panel-group {
    margin: 0;

    .panel {
      border-bottom: 1px solid rgba(0, 0, 0, 0.175);
      border-right: 0;
      border-left: 0;
      border-top: 0;
      border-radius: 0;

      + .panel {
        margin-top: 0;
      }

      .panel-heading {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        height: 60px;

        .panel-title {
          display: flex;
          align-items: center;
          height: 100%;
        }

        + .panel-collapse {
          > .panel-body {
            border-top: 0;

            .container {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

