.profile-container {
  div.panel-heading {
    padding: 0;
  }

  .panel-group {
    margin: 0;

    .panel {
      border-bottom: 1px solid rgba(0, 0, 0, 0.175);
      border-right: 0;
      border-left: 0;
      border-top: 0;
      border-radius: 0;

      + .panel {
        margin-top: 0;
      }

      .panel-heading {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        height: 60px;

        .panel-title {
          display: flex;
          align-items: center;
          height: 100%;
        }

        + .panel-collapse {
          > .panel-body {
            border-top: 0;

            .container {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

