.who-am-i-container {
  @include theme('background-color', $primary-color-dark);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  .who-am-i {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1100px;
    color: #FFFFFF;

    .who-am-i-description {
      text-align: center;
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;

      p {
        @include theme('color', $primary-color-text);
      }
    }

    .who-am-i-icons {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .who-am-i-big-icon {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@include media-breakpoint-up(md) {
  .who-am-i-container {

    .who-am-i {
      max-width: 1100px;

      .who-am-i-icons {
        width: 80px;
        height: 80px;
      }

      .who-am-i-big-icon {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .who-am-i-container {

    .who-am-i {
      max-width: 1100px;

      .who-am-i-description {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .who-am-i-icons {
        width: 80px;
        height: 80px;
      }

      .who-am-i-big-icon {
        width: 150px;
        height: 150px;
      }
    }
  }
}
