<!DOCTYPE html>
<html lang="en">
	{% include head.html critical-css="critical-blog.css" content-type="website" %}
    <body class="blog-body">
        {% include blog-masthead.html %}
        {% include blog-pull-to-refresh.html %}
        <div class="container blog-posts start-pull pullable-content">
			{% include blog-header.html %}
            <div class="blog-main">
                <div class="blog-posts-list">
                    {% for post in paginator.posts %}
                    <div class="blog-posts-post">
                        <a href="{{post.url}}" class="blog-posts-post-link">
                            <span class="blog-posts-post-title">{{post.title}}</span>
                            <div class="blog-posts-post-img-container">
                                {% include blog-lazy-image.html class="img blog-posts-post-img" src=post.image description=post.title %}
                            </div>
                            {% include blog-post-authors.html authors=post.authors enableUrl=false %}
                            {% include blog-post-meta.html post=post %}
                            <span class="blog-posts-post-description">{{post.description}}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-row justify-content-center">
                    {% if paginator.previous_page %}
					<a class="btn btn-primary blog-pages-button" href="{{ paginator.previous_page_path }}">Previous</a>
                    {% endif %}
                    {% if paginator.next_page %}
					<a class="btn btn-primary blog-pages-button" href="{{ paginator.next_page_path }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include footer.html %}
		{% include style.html styleInclude="dependencies-css-blog-home.html" %}
        {% include dependencies-js-blog.html %}
            <script type="text/javascript">
                window.addEventListener('load', () => {
                    class TouchCoordinates {
                        constructor (x, y) {
                            this.x = x
                            this.y = y
                        }
                    }

                    let startPoint = new TouchCoordinates(0, 0)
                    const pullToRefresh = document.querySelector("#pull-to-refresh")
                    const pullToRefreshHeight = pullToRefresh.offsetHeight
                    const pullToRefreshStatus = document.querySelector("#pull-to-refresh-status")
                    const pullToRefreshLoader = document.querySelector("#pull-to-refresh-loader")
                    const blogBody = document.querySelector(".container.blog-posts")
                    let shouldRefresh = false
                    let pullToRefreshDragCompleted = false

                    const sendMessageToServiceWoker = (message) => {
                        return new Promise((resolve, reject) => {
                            const messageChannel = new MessageChannel();
                            messageChannel.port1.onmessage = (event) => {
                                if (event.data.error) {
                                    reject(event.data.error);
                                } else {
                                    resolve(event.data);
                                }
                            };
                            navigator.serviceWorker.controller.postMessage(message, [messageChannel.port2]);
                        });
                    } 
                    
                    const getTouchesCoordinatesFrom = (event) => {
                        if(typeof event['targetTouches'] !== undefined) {
                            return new TouchCoordinates(
                                event.targetTouches[0].screenX,
                                event.targetTouches[0].screenY
                            )
                        } else {
                            return new TouchCoordinates(
                                event.screenX,
                                event.screenY
                            )
                        }
                    }

                    const dragUpdate = (dragMovement, pullToRefreshLoaderOpacity) => {
                        pullToRefresh.style.transform = `translateY(${dragMovement}px)`
                        blogBody.style.transform = `translateY(${dragMovement}px)`
                        pullToRefreshLoader.style.opacity = pullToRefreshLoaderOpacity;
                    }

                    const isDraggingForPullToRefresh = (yMovement) => window.scrollY <= 0 && yMovement <= 0

                    const closePullToRefresh = () => {
                        pullToRefresh.classList.add("end-pull")
                        blogBody.classList.add("end-pull")
                        pullToRefresh.style.transform = ``
                        blogBody.style.transform = ``
                        pullToRefreshLoader.style.opacity = 0;
                    }

                    const preparePullToRefreshToStart = () => {
                        pullToRefresh.classList.add("start-pull")
                        pullToRefresh.classList.remove("end-pull")
                        blogBody.classList.add("start-pull")
                        blogBody.classList.remove("end-pull") 
                    }

                    const showPullToRefresh = () => {
                        pullToRefresh.classList.add("visible-pull")
                        pullToRefresh.classList.remove("hidden-pull")
                    }

                    const setRefreshingStatus = () => {
                        pullToRefreshStatus.innerHTML = "Refreshing"
                        pullToRefreshLoader.classList.add("animate")
                    }

                    const isPullToRefreshDragCompleted = (yAbsoluteMovement) => yAbsoluteMovement >= pullToRefreshHeight

                    const setRefreshStatusCompleted = () => {
                        pullToRefreshStatus.innerHTML = "Refresh completed"
                        pullToRefresh.classList.add("hidden-pull")
                        pullToRefresh.classList.remove("visible-pull")
                    }

                    const resetPullToRefreshStatus = () => {
                        pullToRefreshStatus.innerHTML = "Pull down to refresh"
                        pullToRefreshLoader.classList.remove("animate")
                    }
                    
                    document.addEventListener('touchstart', (e) => {
                        startPoint = getTouchesCoordinatesFrom(e)       
                        preparePullToRefreshToStart()
                    })

                    document.addEventListener('touchmove', (e) => {
                        const currentPoint  = getTouchesCoordinatesFrom(e)
                        const yMovement = startPoint.y - currentPoint.y
                        const yAbsoluteMovement = Math.abs(yMovement)
    
                        if (isDraggingForPullToRefresh(yMovement) && !pullToRefreshDragCompleted) {
                            e.preventDefault();
                            showPullToRefresh()

                            if (isPullToRefreshDragCompleted(yAbsoluteMovement)) {
                                pullToRefreshDragCompleted = true
                                dragUpdate(0, 1)
                                setRefreshingStatus()
                                sendMessageToServiceWoker({message: "refresh", url: window.location.href}).then((data) => {
                                    shouldRefresh = data.shouldRefresh
                                    setTimeout(() => {
                                        setRefreshStatusCompleted()
                                        closePullToRefresh()
                                    }, 1500)
                                })
                            } else {
                                dragUpdate(yAbsoluteMovement - pullToRefreshHeight, yAbsoluteMovement/pullToRefreshHeight)
                            }
                        }
                    }, {passive: false})
    
                    document.addEventListener('touchend', (e) => {
                        if(!pullToRefreshDragCompleted) {
                            closePullToRefresh()
                            shouldRefresh = false
                        }
                    })
    
                    pullToRefresh.addEventListener("transitionend", () => {
                        if (shouldRefresh) {
                            window.location.reload()                            
                        } else {
                            resetPullToRefreshStatus()
                        }
                    });
                })
            </script>
    </body>
</html>
