<!DOCTYPE html>
<html lang="en">
	{% include head.html critical-css="critical-blog.css" content-type="website" %}
    <body class="blog-body">
        {% include blog-masthead.html %}
        <div id="pull-to-refresh" class="pull-to-refresh start-pull hidden-pull">    
            <div id="pull-to-refresh-loader" class="pull-to-refresh-loader"></div>
            <div id="pull-to-refresh-status" class="pull-to-refresh-status">
                Pull down to refresh
            </div>
        </div>    
        <div class="container blog-posts start-pull pullable-content">
			{% include blog-header.html %}
            <div class="blog-main">
                <div class="blog-posts-list">
                    {% for post in paginator.posts %}
                    <div class="blog-posts-post">
                        <a href="{{post.url}}" class="blog-posts-post-link">
                            <span class="blog-posts-post-title">{{post.title}}</span>
                            <div class="blog-posts-post-img-container">
                                {% include blog-lazy-image.html class="img blog-posts-post-img" src=post.image description=post.title %}
                            </div>
                            {% include blog-post-authors.html authors=post.authors enableUrl=false %}
                            {% include blog-post-meta.html post=post %}
                            <span class="blog-posts-post-description">{{post.description}}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-row justify-content-center">
                    {% if paginator.previous_page %}
					<a class="btn btn-primary blog-pages-button" href="{{ paginator.previous_page_path }}">Previous</a>
                    {% endif %}
                    {% if paginator.next_page %}
					<a class="btn btn-primary blog-pages-button" href="{{ paginator.next_page_path }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include footer.html %}
		{% include style.html styleInclude="dependencies-css-blog-home.html" %}
        {% include dependencies-js-blog.html %}
            <script type="text/javascript">
                window.addEventListener('load', () => {
                    class TouchCoordinates {
                        constructor (x, y) {
                            this.x = x
                            this.y = y
                        }
                    }

                    let startPoint = new TouchCoordinates(0, 0)
                    const pullToRefresh = document.querySelector("#pull-to-refresh")
                    const pullToRefreshHeight = pullToRefresh.offsetHeight
                    const pullToRefreshStatus = document.querySelector("#pull-to-refresh-status")
                    const pullToRefreshLoader = document.querySelector("#pull-to-refresh-loader")
                    const blogBody = document.querySelector(".container.blog-posts")
                    let shouldRefresh = false
                    let isLoading = false

                    const sendMessageToServiceWoker = (message) => {
                        return new Promise((resolve, reject) => {
                            const messageChannel = new MessageChannel();
                            messageChannel.port1.onmessage = (event) => {
                                if (event.data.error) {
                                    reject(event.data.error);
                                } else {
                                    resolve(event.data);
                                }
                            };
                            navigator.serviceWorker.controller.postMessage(message, [messageChannel.port2]);
                        });
                    } 
                    
                    const getTouchesCoordinatesFrom = (event) => {
                        if(typeof event['targetTouches'] !== undefined) {
                            return new TouchCoordinates(
                                event.targetTouches[0].screenX,
                                event.targetTouches[0].screenY
                            )
                        } else {
                            return new TouchCoordinates(
                                event.screenX,
                                event.screenY
                            )
                        }
                    }
                    
                    document.addEventListener('touchstart', (e) => {
                        startPoint = getTouchesCoordinatesFrom(e)                        
                        pullToRefresh.classList.add("start-pull")
                        pullToRefresh.classList.remove("end-pull")
                        blogBody.classList.add("start-pull")
                        blogBody.classList.remove("end-pull")
                    })

                    document.addEventListener('touchmove', (e) => {
                        const currentPoint  = getTouchesCoordinatesFrom(e)
                        const yMovement = startPoint.y - currentPoint.y
    
                        if (window.scrollY <= 0 && yMovement <= 0 && !isLoading) {
                            e.preventDefault();
                            const yAbsoluteMovement = Math.abs(yMovement)
                            pullToRefresh.classList.add("visible-pull")
                            pullToRefresh.classList.remove("hidden-pull")
    
                            if (yAbsoluteMovement < pullToRefreshHeight) {
                                pullToRefresh.style.transform = `translateY(-${pullToRefreshHeight - yAbsoluteMovement}px)`
                                blogBody.style.transform = `translateY(-${pullToRefreshHeight - yAbsoluteMovement}px)`
                                pullToRefreshLoader.style.opacity = yAbsoluteMovement/pullToRefreshHeight;
                            } else {
                                pullToRefresh.style.transform = `translateY(0px)`
                                blogBody.style.transform = `translateY(0px)`
                                pullToRefreshLoader.style.opacity = 1;
                            }
    
                            if (yAbsoluteMovement >= pullToRefreshHeight) {
                                isLoading = true
                                pullToRefreshStatus.innerHTML = "Refreshing"
                                pullToRefreshLoader.classList.add("animate")
                                sendMessageToServiceWoker({message: "refresh", url: window.location.href}).then((data) => {
                                    shouldRefresh = data.shouldRefresh
                                    setTimeout(() => {
                                        pullToRefreshStatus.innerHTML = "Refresh completed"
                                        pullToRefresh.classList.add("end-pull")
                                        pullToRefresh.classList.add("hidden-pull")
                                        pullToRefresh.classList.remove("visible-pull")
                                        blogBody.classList.add("end-pull")
                                        pullToRefresh.style.transform = ``
                                        blogBody.style.transform = ``
                                        pullToRefreshLoader.style.opacity = 0;
                                    }, 1500)
                                }).catch((error) => console.log(error))
                            }
                        }
                    }, {passive: false})
    
                    document.addEventListener('touchend', (e) => {
                        if(!isLoading) {
                            pullToRefresh.classList.add("end-pull")
                            blogBody.classList.add("end-pull")
                            pullToRefresh.style.transform = ``
                            blogBody.style.transform = ``
                            pullToRefreshLoader.style.opacity = 0;
                            shouldRefresh = false
                        }
                    })
    
                    pullToRefresh.addEventListener("transitionend", function() {
                        console.log("transitionend")
                        if (shouldRefresh) {
                            window.location.reload()                            
                        } else {
                            pullToRefreshStatus.innerHTML = "Pull down to refresh"
                            pullToRefreshLoader.classList.remove("animate")
                        }
                    });
                })
            </script>
    </body>
</html>
