<!DOCTYPE html>
<html lang="en" class="wf-loading">
	{% include head.html critical-css="critical-blog-post.css" %}
	<body class="blog-body">
		{% include blog-loading-screen.html %}
		{% include blog-masthead.html %}
		<div class="container blog-posts">
			{% include blog-header.html %}
			<div class="row">
				<div class="col-sm-12 blog-main">
					<div class="row blog-post">
						<h2 class="blog-post-title">{{ page.title }}</h2>
						<p class="blog-post-meta">{{ page.date | date_to_string }}</p>
						{{ content }}
					</div>
					<div class="blog-tags">
						<ul>
							{% for tag in page.tags %}
							<li>
								<a href="/blog/tags#{{ tag }}">
									<span>{{ tag }}</span>
								</a>
							</li>
							{% unless forloop.last %}{% endunless %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% include blog-recent-posts.html %}
			{% if page.comments %}
				{% include disquis.html %}
			{% endif %}
		</div>
		{% include blog-footer.html %}
		{% include blog-dependencies.html %}
		{% include css-links.html %}
	</body>
</html>
