<!DOCTYPE html>
<html lang="en" class="wf-loading">
	{% include head.html critical-css="critical-blog-post.css" %}
	<body class="blog-body">
		{% include blog-loading-screen.html %}
		{% include blog-masthead.html %}
		<div class="container blog-posts">
			{% include blog-header.html %}
			<div class="blog-main">
				{% include blog-post.html post=page link-title=false %}
			</div>
			{% include blog-recent-posts.html %}
			{% if page.comments %}
				{% include disquis.html %}
			{% endif %}
		</div>
		{% include footer.html %}
		{% include dependencies-blog.html %}
		{% include dependencies-css.html %}
	</body>
</html>
