<!DOCTYPE html>
<html lang="en">
    {% include head.html critical-css="critical-blog-post-archive.css" content-type="website" %}
    <body class="blog-body">
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    {% for nav in site.nav %}
                    <a class="blog-nav-item {% if nav.name == 'Blog' %}active{% endif %}"
                        href="{{ nav.url }}">{{ nav.name }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        <div class="container blog-posts">
            {% include blog-header.html %}
            <div class="row blog-archive">
                {% for post in site.posts %}
                <div class="container archive-list-post">
                    <a href="{{ post.url }}">
                        <span class="archive-list-post-title">
                            {{ post.title }}
                        </span>
                        <span class="archive-list-post-date">
                            <time>| {{ post.date | date_to_string }}</time>
                        </span>
                    </a>
                </div>
                {% endfor %}
            {% include adsense-archive.html %}
            </div>
        </div>
        {% include blog-footer.html %}
        {% include css-link.html %}
    </body>
</html>