<!DOCTYPE html>
<html lang="en" class="wf-loading">
    {% include head.html critical-css="critical-blog-post-archive.css" content-type="website" %}
    <body class="blog-body">
        {% include blog-loading-screen.html %}
        {% include blog-masthead.html %}
        <div class="container blog-posts">
            {% include blog-header.html %}
            <div class="row blog-archive">
                {% for post in site.posts %}
                <div class="container archive-list-post">
                    <a href="{{ post.url }}">
                        <span class="archive-list-post-title">
                            {{ post.title }}
                        </span>
                        <span class="archive-list-post-date">
                            <time>| {{ post.date | date_to_string }}</time>
                        </span>
                    </a>
                </div>
                {% endfor %}
            {% include adsense-archive.html %}
            </div>
        </div>
        {% include blog-footer.html %}
        {% include blog-dependencies.html %}
        {% include css-links.html %}
    </body>
</html>