<!DOCTYPE html>
<html lang="en" class="wf-loading">
    {% include head.html critical-css="critical-blog-post-archive.css" content-type="website" %}
    <body class="blog-body">
        {% include blog-loading-screen.html %}
        {% include blog-masthead.html %}
        <div class="container blog-posts">
            {% include blog-header.html %}
            <div class="blog-archive">
                {% for post in site.posts %}
                <div class="container archive-list-post">
					<div class="row archive-post">
                    	<div class="col-12 col-lg-2 archive-list-post-date d-flex align-items-center">
                        	<time>{{ post.date | date_to_string }}</time>
                    	</div>
                    	<div class="col-12 col-lg-10 archive-list-post-title d-flex align-items-center">
							<a href="{{ post.url }}">
                        	{{ post.title }}
							</a>
                    	</div>
					</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include footer.html %}
        {% include dependencies-js-blog.html %}
        {% include dependencies-css-blog.html %}
    </body>
</html>
