<!DOCTYPE html>
<html lang="en">
	{% include head.html critical-css="critical-blog-tags.css" content-type="website" prefetch-blog=false %}
    <body class="blog-body body-show">
        {% include blog-masthead.html track-category=site.data.tracking.category.blog_tags %}
		{% include blog-pull-to-refresh.html %}
		<div class="container blog-posts start-pull pullable-content">
			{% include blog-header.html track-category=site.data.tracking.category.blog_tags %}
            <div class="blog-tags-list">
                <div class="blog-main">
                    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                    {% assign tags_list = site_tags | split:',' | sort %}
                    <div class="blog-tags">
                        {% for item in (0..site.tags.size) %}
                        {% unless forloop.last %}
                        {% capture this_tag %}{{ tags_list[item] }}{% endcapture %}
                        <a href="#{{ this_tag }}"
                            onclick="track('{{ site.data.tracking.action.open_blog_tag }}', '{{ site.data.tracking.category.blog_tags }}', '{{ site.data.tracking.label.body }}')">
                            <span>{{ this_tag }}</span>
                        </a>
                        {% endunless %}
                        {% endfor %}
                    </div>
                    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                    {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
                    <article class="blog-tag-post">
                        <div class="blog-tag-title" id="{{ this_tag }}">
                            {{ this_tag }}
                        </div>
                        {% for post in site.tags[this_tag] %}
                        {% if post.title != null %}
                            {% if post.link %}
                            <a href="{{ post.link }}"
                                onclick="track('{{ site.data.tracking.action.open_blog_post }}', '{{ site.data.tracking.category.blog_tags }}', '{{ site.data.tracking.label.body }}')">
                            {% else %}
                            <a href="{{ post.url }}"
                                onclick="track('{{ site.data.tracking.action.open_blog_post }}', '{{ site.data.tracking.category.blog_tags }}', '{{ site.data.tracking.label.body }}')">
                            {% endif %}
                                {{ post.title }}
                            </a>
                        {% endif %}
                        {% endfor %}
                    </article>
                    {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include footer.html track-category=site.data.tracking.category.blog_tags %}
		{% include style.html styleInclude="dependencies-css-blog-tags.html" %}        
        {% include dependencies-js-blog.html %}
        {% include index-js-blog-url.html %}
    </body>
</html>
