name: Tests

on:
  push:
    branches: 
      - '*'
  schedule:
    - cron: '0 */6 * * *' 

jobs:
  tests:      
    name: Tests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node  
        uses: actions/setup-node@v1
        with:
          node-version: '13'       
      - name: Build and Test    
        run: |
          npm run setup
          npm run test
      - name: Archive generated site source
        uses: actions/upload-artifact@v1
        with:
          name: site
          path: _site            
