name: fabrizioduroni.it

on:
  push:
    branches: 
      - '*'
  schedule:
    - cron: '0 18 * * *' 

jobs:
  build-and-test:      
    name: Build and Test
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node  
        uses: actions/setup-node@v1
        with:
          node-version: '13'        
      - name: Cache bundler
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-          
      - name: Cache npm
        uses: actions/cache@v1
        with:
          path: ~/.npm 
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-          
      - name: Build and Test    
        run: |
          npm run setup
          npm run test
      - name: Archive generated site source
        uses: actions/upload-artifact@v1
        with:
          name: site
          path: _site            
